body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  width: 95%;
}

a {
  color:blueviolet;
}

.head {
  background-color: grey;
  width: 100%;
  height: 10vh;
  padding: 2vh;
  clear: both;
}

.btnhead {
  width: 20vh;
  background-color: blue;
  color: white;
  border-radius: 10px;
  text-align: center;
}

.headLeft {
  text-align: left;
  float: left;
}

.headCenter {
  text-align: center;
  align-items: center;
  align-content: center;
}

.headRight {
  text-align: right;
  float: right;
}

img {
  width: 100%;
}

.btnSesion {
  width: 30vh;
  background-color: blue;
  color: white;
  border-radius: 10px;
  text-align: center;
  padding: 5px;
}

.spin {
  width: 20%;
  float: left;
}

.spin2 {
  width: 80%;
  float: right;
}

.table {
  width: 100%;
}

table {
  border-collapse: collapse;
}

table, th, td {
  border: 1px solid black;
}

th {
  background-color: grey;
  color: white;
}


.modalDialog {
	position: fixed;
	font-family: Arial, Helvetica, sans-serif;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: rgba(0,0,0,0.8);
	z-index: 99999;
	opacity:0;
	-webkit-transition: opacity 400ms ease-in;
	-moz-transition: opacity 400ms ease-in;
	transition: opacity 400ms ease-in;
	pointer-events: none;
}
.modalDialog:target {
	opacity:1;
	pointer-events: auto;
}
.modalDialog > div {
	width: 70%;
	position: relative;
	margin: 10% auto;
	padding: 5px 20px 13px 20px;
	border-radius: 10px;
	background: #fff;
	background: -moz-linear-gradient(#fff, #999);
	background: -webkit-linear-gradient(#fff, #999);
	background: -o-linear-gradient(#fff, #999);
  -webkit-transition: opacity 400ms ease-in;
-moz-transition: opacity 400ms ease-in;
transition: opacity 400ms ease-in;
}
.close {
	background: #606061;
	color: #FFFFFF;
	line-height: 25px;
	position: absolute;
	right: -12px;
	text-align: center;
	top: -10px;
	width: 24px;
	text-decoration: none;
	font-weight: bold;
	-webkit-border-radius: 12px;
	-moz-border-radius: 12px;
	border-radius: 12px;
	-moz-box-shadow: 1px 1px 3px #000;
	-webkit-box-shadow: 1px 1px 3px #000;
	box-shadow: 1px 1px 3px #000;
}
.close:hover { background: #00d9ff; }